<h1>Adding</h1>
<form id= "addingForm">

<select id="name">
  <option value="Diluc">Diluc</option>
  <option value="Keqing">Keqing</option>
  <option value="Zhongli">Zhongli</option>
  <option value=""></option>
  <option value=""></option>
  <option value=""></option>
  <option value=""></option>
</select>

<label>ascensionPhase</label>
<select id = "ascensionPhase">
  <option value ="0">0</option>
  <option value ="1">1</option>
  <option value ="2">2</option>
  <option value ="3">3</option>
  <option value ="4">4</option>
  <option value ="5">5</option>
  <option value ="6">6</option>
  <option value ="7">7</option>
</select>

<div>

<label>Level</label>
<input type='text' id="level">
</div>

<div>

<label>HP</label>
<input type='text' id="HP">
</div>
<div>

<label>ATK</label>
<input type='text' id="ATK">
</div>
<div>

<label>DEF</label>
<input type='text' id="DEF">
</div>

<div>

<label>Crit Rate</label>
<input type='text' id="critRate">
</div>
<div>

<label>Crit Damage</label>
<input type='text' id="critDamage">
</div>
{{!-- 
<label></label>
<input type='text' id=""> --}}

<button type = "submit" class= "btn" id = "submitButton">Add Stats</button>
</form>

<script src = "./js/adding.js"></script>