<h1>Adding</h1>
<select id="name">
  <option value="Diluc">Diluc</option>
  <option value="Keqing">Keqing</option>
  <option value="Zhongli">Zhongli</option>
  <option value=""></option>
  <option value=""></option>
  <option value=""></option>
  <option value=""></option>
</select>
<label>Attack</label>
<input type='text' id="attack">
<label></label>
<input type='text' id="">
<label></label>
<input type='text' id="">
<label></label>
<input type='text' id="">